URI = 'mssql+pyodbc://@localhost/A3ExportNominaClass?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes'
FAB_USER_ID = 'your_user_id'
FAB_API_KEY = 'your_api_key'
FAB_AGENT_URL = 'https://mdpr7ftefmgdmbbk4rbttpynnq0eaoxs.lambda-url.us-east-1.on.aws/agent/sql-agent/execute'
